.dotted-lts {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
}

#taco-image-header {
    width: min(100%, 48rem);
}

#taco-image-header img {
    margin-top: 1rem;
    display: block;
    max-width: 55%;
    width: 50%;
    height: auto;
}

form div{
    margin:.75rem;
}